<!-- about-page.component.html -->
<div class="about-page-container">
    <section class="hero-section">
      <h1>Acerca de PanasGamers</h1>
      <p>Explorando nuevos mundos, un juego a la vez.</p>
    </section>
  
    <section class="mission-section">
      <h2>Nuestra Misión</h2>
      <p>Nos dedicamos a proporcionar reseñas detalladas, guías prácticas, y las últimas noticias en el mundo de los videojuegos para ayudar a nuestros usuarios a tomar decisiones informadas y mejorar su experiencia de juego.</p>
    </section>
  
    <section class="team-section">
      <h2>Conoce a Nuestro Equipo</h2>
      <div class="team-members">
        <div class="team-member">
          <h3>Kevin. "Alias: Potrero"</h3>
          <p>Fundador y Editor Jefe</p>
        </div>
        <div class="team-member">
          <h3>Dr en Sexologia: Dani Chuletas</h3>
          <p>Director de Contenido para Adultos</p>
        </div>
        <div class="team-member">
            <h3>Yo</h3>
            <p>Director de Software</p>
          </div>
        <!-- Más miembros del equipo según sea necesario -->
      </div>
    </section>
  </div>

  <app-footer></app-footer>