/* footer.component.css */
.footer-container {
    background-color: #2d2d90; /* Ajusta según la paleta de colores de tu sitio */
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    max-width: 1200px;
  }
  
  .footer-column {
    flex: 1;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .neon-text {
    color: white;
    text-shadow: 
      0 0 5px #fff, 
      0 0 10px #fff, 
      0 0 20px #1b1b83, 
      0 0 40px #1b1b83, 
      0 0 80px #1b1b83, 
      0 0 100px #1b1b83;
  }
  
  mat-icon {
    color: white;
    text-shadow: 
      0 0 5px #fff, 
      0 0 10px #fff, 
      0 0 20px #1b1b83, 
      0 0 40px #1b1b83, 
      0 0 80px #1b1b83, 
      0 0 100px #1b1b83;
    margin-right: 10px;
  }
  