<mat-card class="login-card">
    <div class="login-container">
      <div class="left-panel">
        <img src="/assets/images/loginimage.png" alt="Game Characters" class="game-art">
        <h1 class="logo1">PanaGamers!</h1>
        <h3 class="logo">Descubre juegos!</h3>
      </div>
      <div class="right-panel">
        <h1>¡Bienvenido de nuevo!</h1>
        <p>Introduce tu información</p>
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Usuario</mat-label>
            <input matInput formControlName="username" type="text" required />
            <mat-error *ngIf="loginForm.get('username')?.hasError('required')">Este campo es obligatorio</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" type="password" required />
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Este campo es obligatorio</mat-error>
          </mat-form-field>
  
          <div class="options">
            <a href="#">¿Olvidaste tu Contraseña?</a>
          </div>
  
          <mat-error *ngIf="loginFailed">Usuario o Contraseña incorrectos</mat-error>
  
          <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="loginForm.invalid">Entrar</button>
        </form>
  
        <p>¿Aún no eres miembro? <a routerLink="/auth/new-account">Regístrate ahora</a></p>
      </div>
    </div>
</mat-card>