<div class="background-container">
    <div class="content">
      <h1>GET FOCUSED, GET PRODUCTIVE</h1>
      <p>with gamified day to day experience.</p>
      <p>B2B Gamification SaaS Platform that helps you build your own game for learning or work.</p>
      <button mat-raised-button color="accent">Book a Demo</button>
    </div>
  </div>

  <!-- Sección de sinopsis detallada -->
  <div class="text-container">
    <h2>Bienvenido a PanasGamers</h2>
    <p><strong>Descubre el Universo de los Videojuegos.</strong> PanasGamers no es solo una plataforma, es tu portal hacia las últimas tendencias y desarrollos en el mundo de los videojuegos. Aquí, exploramos y compartimos todo lo relacionado con tu pasión por jugar.</p>
    <h3>Nuestra Misión</h3>
    <p>Nos dedicamos a potenciar tu experiencia de juego, proporcionando reseñas profundas, noticias actualizadas y guías prácticas que te ayudan a mejorar tu desempeño y disfrute.</p>
    <h3>Explora Nuestras Características</h3>
    <ul>
      <li><strong>Reseñas Detalladas:</strong> Análisis exhaustivos de los últimos lanzamientos.</li>
      <li><strong>Guías de Juego:</strong> Estrategias y trucos para avanzar en tus juegos favoritos.</li>
      <li><strong>Noticias Recientes:</strong> Mantente al día con los eventos más importantes del sector.</li>
    </ul>
  </div>
  
<app-footer></app-footer>